.img-ps {
  width: 45%;
  height: 60%;
  margin: 2%;
  padding: 2%;
}
.container-ps {
  margin: 2%;
  padding: 2%;
}
.addtocart-ps {
  border-radius: 20px;
  border: solid;
  border-color: blue;
  padding: 1%;
  margin: 1%;
}
